@font-face {
  font-family: transformers;
  src: url(/src/font/Transformers\ Movie.ttf);
}

body{
    margin: 0px;  
}

.wrapper {
    display: grid;
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
    grid-template-columns:1fr;
    gap: 10px;
    grid-template-rows: auto 1fr auto;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    background-color: rgb(255, 255, 255);
    margin-bottom: 1%;
    margin-top: 2%;
  }

  #logo{
    order: 1;
    width: 320px;
    padding-top: 20px ;
    padding-left: 20px;
  }

  .title{
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);

  }

  .title p{
    font-size: 50px;
    font: rgb(191, 27, 27);

  }

  .links{
    order: 3;
    display: flex;
    text-align: center;
    margin-right: 25px;
  }

  .links a{

    margin: 0 10px;
    font-size: 20px;
    font-style: normal;
    color:black;
    text-decoration: none;
  }

  .main {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(178, 224, 37);
    background-image:url(/src/img/background.jpg);
    background-position: center;
    min-height: 70vw;
    text-align: center;
    display: grid;
  }

  .text{
    font-size:25px;
    color: white;
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 2fr 5fr;

  }

  #bioTitle{
    grid-row: 1;
    grid-column: 1;
  }

  #bioContent{
    grid-row: 2;
    grid-column: 1;
    text-align: center;
  }

  #bioImage{
    max-width:300px;
    margin-bottom: 30px;
  }
  #moviesTitle{
    grid-row: 1;
    grid-column: 2;
  }

  #moviesContent{
    grid-row: 2;
    grid-column: 2;
  }

  .moviesCards{
    display: flex;
    gap: 10px;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 20px;
  }

  .card-body{
    background-color: rgb(2, 2, 2);
    
  }

  .card-text{
    color: rgb(255, 255, 255); 
  }
  .content{
    margin-bottom: 500px;
  }

  .carouselcontainer{
    width: 50%;
    flex-basis: 100%;
    max-height: 20%;
    margin-left: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .footer {
    grid-column: 1;
    min-height: 50px;
    grid-row: 3;
    background-color: rgb(142, 161, 22);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }


#carouselExampleCaptions .carousel-item img {
  max-height: 800px;
  min-width: auto
}

#carouselExampleCaptions .carousel-item h5 {
  color: black;
  width: fit-content;
  margin-left: 40%;
  background-color: azure;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 20px;
}
  /* @media (max-width: 950px) {

    .wrapper{
      grid-template-columns:1fr 5fr;
      grid-auto-rows: minmax(100px, auto);
      grid-auto-columns: minmax(200px, auto);

    }

    .footer{
      grid-column: 1/3;
      grid-row: 4;
    }
    .header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 165px;
    }

    .title{
      margin-top: 20px;
    }


    .links{
      flex: 0;
    }
  } */